
<form class="login-form" method="post">
<h1>login!</h1>

  <input name=user[name] type="text" placeholder="username">
  <input name=user[password] type="password" placeholder="password">

  <button type="submit">login</button>
</form>