
<form class="new-user-form" method="post">
<h1>new account!</h1>

  <input name=user[name] type="text" placeholder="username">
  <input name=user[password] type="password" placeholder="password">
  <input name=user[password_confirmation] type="password" placeholder="password">
  
  <button type="submit">new</button>
</form>